.div-icon {
    width: 16px !important;
    height: 16px !important;
    content: " ";
    background-repeat: no-repeat;
    background-position: center left;
}

.icon-lang-fr {
    background-image: url(../images/fr.png) !important;
}

.icon-lang-cn {
    background-image: url(../images/cn.png) !important;
}

.icon-lang-en {
    background-image: url(../images/us.png) !important;
}

.icon-lang-it {
    background-image: url(../images/it.png) !important;
}

.icon-feedback {
    background-image: url(../images/balloon--arrow.png) !important;
}

.icon-loading {
    background-image: url(../images/loading.gif) !important;
}

.icon-preview {
    background-image: url(../images/magnifier-medium-left.png) !important;
}

.icon-profile {
    background-image: url(../images/switch.png) !important;
}

.icon-large-question {
    width: 47px;
    height: 32px;
    background-image: url(../images/questions.png);
    background-repeat: no-repeat;
    background-position: top left;
}

.icon-add-small {
    background-image: url(../images/plus-small.png) !important;
}

.icon-remove-small {
    background-image: url(../images/minus-small.png) !important;
}

.icon-save-small {
    background-image: url(../images/tick-small.png) !important;
}

.icon-close-small {
    background-image: url(../images/cross-small.png) !important;
}

.icon-logout {
    background-image: url(../images/door-open-out.png) !important;
}

.icon-refresh {
    background-image: url(../images/arrow-circle.png) !important;
}

.icon-menu {
    background-image: url(../images/application-list.png) !important;
}

.icon-dashboard {
    background-image: url(../images/application-block.png) !important;
}

.icon-yes-small {
    background-image: url(../images/tick-small.png) !important;
}

.icon-no-small {
    background-image: url(../images/cross-small.png) !important;
}

.icon-note {
    background-image: url(../images/report--arrow.png) !important;
}

.icon-currency-dollar {
    background-image: url(../images/currency.png) !important;
}

.icon-currency-euro {
    background-image: url(../images/currency-euro.png) !important;
}

.icon-currency-pound {
    background-image: url(../images/currency-pound.png) !important;
}

.icon-currency-yuan {
    background-image: url(../images/currency-yen.png) !important;
}