@import "shortcuts";
@import "commons";

.appfinder-list-item {
  height: 38px;
  line-height: 38px;
  padding: 0px 5px 0px 50px;
  background-size: 20%;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0);
  background-image: url("@{images-url}vinyl.png");
  background-position: 3px 3px;
  background-repeat: no-repeat;
  .transition(all, 0.25s, ease-in-out);
}

.appfinder-list-item-over {
  background-color: url("@{images-url}vinyl.png");
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  .box-shadow(inset, 0, 3px, 3px, rgba(0, 0, 0, 0.5));
}

.even {
  background-color: rgba(0, 0, 0, 0.3);
}

.odd {
  background-color: rgba(0, 0, 0, 0.1);
}

.appfinder-list-item-icon {
  width: 30px;
  height: 29px;
  margin: 4px 0px 0px -46px;
  background-size: 40px 40px;
  background-position: center center;
  float: left;
  position: relative;
}

.appfinder-list-item-name {
  float: left;
  .use-font("Open Sans", sans-serif, 16px, #fff);
  .text-shadow(0px, -1px, 0px, #333);
}

.appfinder-list-item-status {
    width: 25px;
    margin: 10px 2px 0 3px;
    padding: 2px 4px !important;
    float: right;
}

.appfinder-detail-item {
  width: 357px;
  height: 114px;
  padding: 20px 35px 20px 35px;
  float: left;
  color: #fff;
  background: url("@{images-url}vinyl.png") 32px 20px no-repeat;
  display: block;
  .transition(all, 0.25s, ease-in-out);
}

.appfinder-detail-item-icon {
  width: 70px;
  height: 70px;
  margin: 2px 24px 2px 0;
  background-size: 100px 100px;
  background-position: center center;
  float: left;
  position: relative;
}

.appfinder-detail-item-name {
  width: 160px;
  height: 35px;
  float: left;
  margin: 0 0 0 3px;
  padding: 10px 0 0 0;
  .use-font("Open Sans", sans-serif, 20px, #fff);
  .text-shadow(0px, -1px, 0px, #333);
}

.appfinder-list-container {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.appfinder-detail-item-status {
  width: 25px;
  margin: 10px 2px 0 3px;
  padding: 2px 4px !important;
  float: right;
}

.appfinder-detail-item-separator {
  height: 0px;
  width: 185px;
  float: left;
  margin: 0 0 0 5px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #353434;
}

.appfinder-detail-item-description {
  width: 187px;
  height: 35px;
  float: right;
  margin: 3px 0 0 3px;
  .use-font("Open Sans", sans-serif, 12px, #9c9c9c);
  .text-shadow(0px, -1px, 0px, #000);
}

.appfinder-detail-item-over {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}