@import "commons";
@import "shortcuts";

body {
  background: url("@{images-url}background.png");
  color: #fff;
}

.header-container {
  background: rgba(0, 0, 0, 0.3) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
  .box-shadow(inset, 0, -1px, 0, #000);
}

.header-title {
  padding: 10px;
  .use-font("Pacifico", cursive, 30px, #fff);
}

.hidden {
  visibility: hidden;
}