@import "commons";
@import "shortcuts";

.accordionsubmenu-container {
  background: transparent !important;
  color: #fff !important;
}

.icon-fake {
  background: url("@{images-url}dashboard-icon.png") center center no-repeat;
}

.icon-services {
  background: url("@{images-url}dashboard-icon.png") center center no-repeat;
}

.accordionsubmenu-container .x-panel-header {
  height: 28px !important;
  background: url("@{images-url}launcher-group-item-background.png") top left repeat-x !important;
  line-height: 21px !important;
  border-top: 0px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4) !important;
  border-left: 0px !important;
  border-right: 0px !important;
}

.accordionsubmenu-container .x-panel-header-text {
  font-weight: bold !important;
  letter-spacing: -0.75pt !important;
  text-transform: uppercase !important;
  .itext-shadow(0px, 1px, 0px, rgba(255, 255, 255, 0.2));
  .use-font("Open Sans", sans-serif, 12px, rgba(0, 0, 0, 0.4));
}

.accordionsubmenu-container .x-panel-header-icon {
  width: 24px !important;
  height: 18px !important;
  margin: -1px 3px 0 0 !important;
}

.accordionsubmenu-container .x-panel-body {
  color: #fff !important;
  background: transparent !important;
}

.launcher-category-container {
  background: rgba(0, 0, 0, 0.3) !important;
  border-right: 1px solid rgba(255, 255, 255, 0.1) !important;
  .box-shadow(inset, -1px, 0, 0, #000);
}

.accordionsubmenu-app-item {
  min-width: 150px;
  height: 30px;
  line-height: 29px;
  display: block;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
  .text-shadow(0, 1px, 0, rgba(0, 0, 0, 0.8));
  .use-font("Open Sans", sans-serif, 11px, #fff);
  .box-shadow(inset, 0, -1px, 0, rgba(0, 0, 0, 0.6));
  .transition(all, 0.25s, ease-in-out);
}

.accordionsubmenu-app-item:hover {
  cursor: pointer !important;
}

.accordionsubmenu-app-item:hover .arrow_right {
  opacity: 1;
}

.is_active {
  background: url("@{images-url}launcher-item-background.png") top left repeat-x !important;
  background-size: 100% 28px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.arrow_right {
  width: 14px;
  height: 30px;
  margin: 0 10px 0 5px;
  float: left;
  background: url("@{images-url}arrow_right.png") center center no-repeat;
  opacity: 0;
  .transition(all, 0.25s, ease-in-out);
}

.accordionsubmenu-app-title {
  color: #fff;
  height: 30px;
  float: left;
  margin: 0;
  display: inline-block;
}

.accordionsubmenu-app-updates {
  margin: 5px 4px 0 2px;
  width: 30px;
  background: #505050;
  height: 18px;
  border-radius: 16px;
  float: right;
  line-height: 18px;
  text-align: center;
  padding: 0 2px 0 0;
  display: inline-block;
  font-weight: bold;
  .use-font("Open Sans", sans-serif, 11px, #fff);
  .text-shadow(0px, 1px, 0px, rgba(0, 0, 0, 0.3));
}