.border-radius (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.text-shadow (@size: 0, @x: 0, @y: 0, @color: #000) {
  text-shadow: @arguments;
}

.box-shadow (@type: inset, @x: 0, @y: 0, @size: 0, @color: #000) {
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
  box-shadow: @arguments;
}

.transition (@for: all, @time: 1s, @effect: ease-in-out) {
  transition: @arguments;
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
}

.use-font (@name, @type: sans-serif, @size: 13px, @color: #fff) {
  font-family: @name, @type !important;
  font-size: @size !important;
  color: @color !important;
}

.itext-shadow (@size: 0, @x: 0, @y: 0, @color: #000) {
  text-shadow: @arguments !important;
}

.ibox-shadow (@type: inset, @x: 0, @y: 0, @size: 0, @color: #000) {
  -moz-box-shadow: @arguments !important;
  -webkit-box-shadow: @arguments !important;
  box-shadow: @arguments !important;
}

.itransition (@for: all, @time: 1s, @effect: ease-in-out) {
  transition: @arguments !important;
  -webkit-transition: @arguments !important;
  -moz-transition: @arguments !important;
}
