.div-icon {
    width: 16px !important;
    height: 16px !important;
    content: " ";
    background-repeat: no-repeat;
    background-position: center left;
}

.icon-entry {
    background-image: url(../images/credit-cards.png) !important;
}

.icon-entity {
    background-image: url(../images/users.png) !important;
}