@media screen {
    @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url('../fonts/OpenSans-Regular.ttf') format('truetype');
    }
}

@media screen {
    @font-face {
	font-family: 'Pacifico';
	font-style: normal;
	font-weight: normal;
	src: local('Pacifico Regular'), local('Pacifico-Regular'), url('../fonts/Pacifico.ttf') format('truetype');
    }
}
