.applications-stack {
    background: url(/launcher/static/resources/images/applications-stack.png) center center no-repeat;
}

img.application-plus {
    background-image: url(/launcher/static/resources/images/application--plus.png);
}

.application-plus {
    background: url(/launcher/static/resources/images/application--plus.png) center center no-repeat;
}

.application-arrow {
    background: url(/launcher/static/resources/images/application--arrow.png) center center no-repeat;
}

img.application-minus {
    background-image: url(/launcher/static/resources/images/application--minus.png);
}

.application-minus {
    background: url(/launcher/static/resources/images/application--minus.png) center center no-repeat;
}

img.application-exclamation {
    background-image: url(/launcher/static/resources/images/application--exclamation.png);
}

.application-exclamation {
    background: url(/launcher/static/resources/images/application--exclamation.png) center center no-repeat;
}