body {
    background: url(/launcher/static/resources/images/background.png);
    color: #fff;
}

.header-title {
    padding: 10px;
    font-size: 30px;
    color: #fff;
    font-family: 'Pacifico', cursive !important;
}

.hidden {
    visibility: hidden;
}